@import "tailwindcss";
 

@theme {
    --font-urbanist: "Urbanist", sans-serif;
    --font-outfit: "Outfit", sans-serif;

    --animate-security: security 1s alternate   infinite;
    @keyframes security {
    0%  {
      transform: scale(0.3);
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
      -o-transform: scale(0.3);
}
    100% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
}



/* common css */
.cnmPeragraph {
  @apply font-outfit font-normal text-sm leading-[145%] text-[#5A5F6D]
  sm:text-base sm:leading-[150%]
  md:text-[17px] md:leading-[155%]
  lg:text-[18px] lg:leading-[160%]
  xl:text-base xl:leading-[150%] xl:text-[#4D525F];
}


.cmnHeadingtwo {
  @apply font-urbanist font-bold leading-[120%] text-[#01081B]
  text-base       
  sm:text-lg    
  md:text-xl      
  lg:text-[22px] 
  xl:text-xl;     
}
