@import "tailwindcss";
 

@theme {
    --font-urbanist: "Urbanist", sans-serif;
    --font-outfit: "Outfit", sans-serif;

    --animate-security: security 1s alternate   infinite;
    @keyframes security {
    0%  {
      transform: scale(0.3);
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
      -o-transform: scale(0.3);
}
    100% {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
}



/* common css */
.cnmPeragraph {
  @apply font-outfit font-normal text-sm leading-[145%] text-[#5A5F6D]
  sm:text-[12px] sm:leading-[150%]
  md:text-[15px] md:leading-[155%] 
  lg:text-base lg:leading-[150%] lg:text-[#4D525F];
}


.cmnHeadingtwo {
  @apply font-urbanist font-bold leading-[120%] text-[#01081B]
  text-base       
  sm:text-lg    
  md:text-xl      
  lg:text-[22px] 
  xl:text-xl;     
}



/* banner css */
.banner{
  @apply lg:rounded-[10px] sm:rounded-[15px] md:rounded-[20px]   m-0   md:m-1 lg:m-2    xl:m-6  
}
.bannerTitle{
  @apply xl:mt-[201px]  lg:mt-[170px] md:mt-[160px] sm:mt-[150px] mt-[140px] inline-block font-outfit lg:font-semibold font-medium text-base text-[#787878] leading-[150%] w-full uppercase text-center lg:text-left  
}
.bnnerhead{
  @apply font-urbanist font-bold text-[30px] sm:text-[40px] md:text-[40px] lg:text-[50px] xl:text-[64px] text-[#01081B] leading-[120%] max-w-[300px] sm:max-w-[400px] md:max-w-[450px] lg:max-w-[500px] xl:max-w-[700px] mx-auto lg:mx-0  text-center lg:text-left  
}
.bannerText{
  @apply mt-3 font-outfit text-lg text-[#4D525F] leading-[150%] max-w-[490px]   mx-auto lg:mx-0  text-center lg:text-left  
}



/* how to section */
 
.getStartbtn{
  @apply lg:py-4 sm:py-2 py-1 lg:px-6   md:px-4  px-3  h-fit leading-[150%] rounded-[30px] bg-[#2E68FD] text-white font-semibold xl:text-base lg:text-sm md:text-xs  text-xs  font-outfit mt-5 lg:mt-0 mx-auto lg:mx-0  
}